# Backend Dependencies
fastapi
pydantic
uvicorn
python-dotenv
pyspark
pytest
jsonschema
websockets
timedelta
requests
sse_starlette
starlette
pandas
aiokafka
confluent_kafka
pydantic
kafka-python==2.0.2