.team-statistics-container {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #f3f4f6;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    padding: 24px;
    margin: 0;
  }
  
  .team-statistics-title {
    font-size: 18px;
    font-weight: 700;
    color: #323743;
    margin-bottom: 47px;
    margin-top: -8px;
  }
  
  .chart-wrapper {
    position: relative;
    height: 300px; /* Adjust as needed */
  }
  